#logo{
	height: 111px;
	width: 330px;
	display: block;
	top:240px;
	left:555px;
	position: absolute;
	
}
#searchbox{
	position: absolute;
	top:389px;
	width: 584px;
	height: 43px;
	left: 424px;
}
div div input[type=submit]{
height:45px;
width: 157px;
top:473px;
position: absolute;
left:38%;
background-color: #f2f2f2;
border: none;
color:#808080;
font-weight: 600;
font-size: 15px;

}

div div div input[type=submit]{
	height:45px;
	width: 173px;
	top:473px;
	position: absolute;
	left:50%;
	background-color: #f2f2f2;
	border: none;
	color:#808080;
	font-weight: 600;
	font-size: 15px;
	
}
#p{
	border-radius: 100px;
	height: 39px;
	position: absolute;
	left:1366px;
	top:19px;
}
#bell{
	position: absolute;
	left:1320px;
	top:22px;
}
#menu{
	position: absolute;
	top: 20px;
	left: 1265px;
	height: 35px;
	width: 35px;
}
.top>ul{
	position: absolute;
	left: 1018px;
	top: 12px;
	font-size: 16px;
	font-family: Arial;
	color: #666666;
}
li{
	display: inline;
	
}
#images,#gmail{
	padding-left: 13px;
}
#box{
	background-color:#f2f2f2;
	width: 99%;
	height: 49px;
	position: absolute;
	top: 802px;
	padding:0,0,0,0;
	margin:0,0,0,0;
}
#footerlist{
	position: absolute;
	top: 801px;
	left: -34px;
}
#settings,#Terms,#about,#bussiness,#ad{
	font-size: 16px;
	font-family: Arial;
	color: #666666;
	padding-left: 32px;
}
#Privacy{
	padding-left: 880px;
	color: blue;
	font-size: 16px;
	font-family: Arial;
	color: #666666;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;
}